<div class="card car">
  <img class="card-img-top" src={{@imageSrc}} alt="Card image cap">
  <div class="card-body">
    <h5 class="card-title">{{concat @make ' ' @carmodel}}</h5>

    <div class="card-text"><strong>Year:</strong> {{@year}}</div>
    <div class="card-text text-truncate"><strong>Retailer:</strong> {{@company}}</div>
    <div class="card-text"><strong>Price:</strong> {{formatter @price}}</div>
    <a href="#" class="btn btn-primary">More Detail</a>
  </div>
</div>